<%- include("header") -%>

  <div class="box" id="heading">
    <h1> <%= listTitle %> </h1>
  </div>

  <div class="box">

    <form class="item" action="/list" method="post">
      <input type="text" name="newList" placeholder="New List" autocomplete="off">
      <button class="add" type="submit">+</button>
    </form>

    <div class="item">
      <p><strong>Home page has limited privileges, create custom list above to use your own!</strong></p>
    </div>

    <form class="item" action="/" method="post">
      <input type="text" name="newItem" placeholder="New Item" autocomplete="off">
      <button class="add" type="submit" name="list" value="<%= listTitle %>">+</button>
    </form>

    <% newListItems.sort(compare) %>
    <%  newListItems.forEach(function(item){ %>


        <%  if (!item.completed && item.name != '') { %>
          <form action="/delete" method="post">
            <div class="item">
              <input class="checkbox" type="checkbox" name="checkbox" value="<%=item._id%>" onChange="this.form.submit()">
            <p>
              <em class="date"><%= item.date %></em>
              <strong contentEditable="true">
                <%= item.name %>
                </strong>
            </p>
            <label class="trash">
               <input class="btn" type="checkbox" name="trash" value="<%=item._id%>" onChange="this.form.submit()">
               <i class="fas fa-trash unchecked"></i>
               <i class="fas fa-trash checked"></i>
             </label>
           </div>
           <input type="hidden" name="listName" value="<%= listTitle %>"></input>
         </form>
      <%    }  %>
            <!-- TODO EDIT BUTTON <label class="edit">
               <input class="btn" type="checkbox" name="edit" value="<%=item._id%>" onChange="this.form.submit()">
               <i class="fas fa-edit unchecked"></i>
             </label> -->
    <%  }) %>

    <%  newListItems.forEach(function(item){ %>

      <%    if(item.completed) {  %>
        <form action="/delete" method="post">
          <div class="item">
            <input class="checkbox" type="checkbox" name="checkbox" value="<%=item._id%>" onChange="this.form.submit()">
            <p>
              <em class="date"><%= item.date %></em>
              <i class="completed">completed: </i>
              <strong contentEditable="true">
                <%= item.name %>
                </strong>
              <em class="dateEnd"><%= item.dateFinished %> <%= item.units %></em>
            </p>
            <label class="trash">
               <input class="btn" type="checkbox" name="trash" value="<%=item._id%>" onChange="this.form.submit()">
               <i class="fas fa-trash unchecked"></i>
               <i class="fas fa-trash checked"></i>
             </label>
      </div>
      <input type="hidden" name="listName" value="<%= listTitle %>"></input>
    </form>
        <%  } %>
            <!-- TODO EDIT BUTTON <label class="edit">
               <input class="btn" type="checkbox" name="edit" value="<%=item._id%>" onChange="this.form.submit()">
               <i class="fas fa-edit unchecked"></i>
             </label> -->
    <%  }) %>


  </div>

<%- include("footer") -%>

<% function compare(a, b) { 

    const nameA = Date.parse(a.name.substring(a.name.length - 11, a.name.length -1)); 
    const nameB = Date.parse(b.name.substring(b.name.length - 11, b.name.length -1)); 

    let comparison = 0; 
    if (nameA > nameB) { 
      comparison = 1; 
    } else if (nameA < nameB) { 
      comparison = -1; 
    } 
    return comparison; 
  } %>
